// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Wed Sep  3 12:05:52 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/llemos/documents/github/e155-up-labs/lab1-fpga-7-seg-display/fpga/radiant_project/lab1_ll/source/impl_1/lab1_ll.sv"
// file 1 "c:/users/llemos/documents/github/e155-up-labs/lab1-fpga-7-seg-display/fpga/radiant_project/lab1_ll/source/impl_1/seven_seg_display.sv"
// file 2 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 23 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 37 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab1_ll
//

module lab1_ll (input [3:0]s, input reset_p34, output led0_p42, output led1_p38, 
            output led2_p28, output [6:0]seg);
    
    wire GND_net;
    wire VCC_net;
    wire s_c_3;
    wire s_c_2;
    wire s_c_1;
    wire s_c_0;
    wire reset_p34_c;
    wire led1_p38_c;
    wire led2_p28_c;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    (* is_clock=1, lineinfo="@0(17[8],17[11])" *) wire clk;
    wire led0_p42_c_24;
    
    wire n606, n636, n222, n16, n15, n14, n13, n12, n11, n10, 
        n9, n8, n7, n6, n5, n4, n3, n2, n17, n18, n19, 
        n20, n21, n22, n23, n633;
    wire [24:0]n105;
    
    wire n269, n267, n265, n263, n630, n261, n259, n257, n627, 
        n255, n618, n253, n251, n612, n249, n624, n603, n609, 
        n621, n615;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(clk));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* lut_function="(!(A))", lineinfo="@0(6[19],6[28])" *) LUT4 i89_1_lut (.A(reset_p34_c), 
            .Z(n222));
    defparam i89_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i23 (.D(n105[22]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n3));
    defparam counter_17__i23.REGSET = "RESET";
    defparam counter_17__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i24 (.D(n105[23]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n2));
    defparam counter_17__i24.REGSET = "RESET";
    defparam counter_17__i24.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=20, LSE_RCOL=45, LSE_LLINE=14, LSE_RLINE=14, lineinfo="@0(14[20],14[45])" *) seven_seg_display seven_seg_display (s_c_0, 
            s_c_2, s_c_3, s_c_1, seg_c_4, seg_c_0, seg_c_1, seg_c_2, 
            seg_c_3, seg_c_5, seg_c_6);
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_15 (.A0(GND_net), .B0(GND_net), 
            .C0(n10), .D0(n261), .CI0(n261), .A1(GND_net), .B1(GND_net), 
            .C1(n9), .D1(n624), .CI1(n624), .CO0(n624), .CO1(n263), 
            .S0(n105[15]), .S1(n105[16]));
    defparam add_75_15.INIT0 = "0xc33c";
    defparam add_75_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i22 (.D(n105[21]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n4));
    defparam counter_17__i22.REGSET = "RESET";
    defparam counter_17__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i21 (.D(n105[20]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n5));
    defparam counter_17__i21.REGSET = "RESET";
    defparam counter_17__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i20 (.D(n105[19]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n6));
    defparam counter_17__i20.REGSET = "RESET";
    defparam counter_17__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i19 (.D(n105[18]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n7));
    defparam counter_17__i19.REGSET = "RESET";
    defparam counter_17__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i18 (.D(n105[17]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n8));
    defparam counter_17__i18.REGSET = "RESET";
    defparam counter_17__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i17 (.D(n105[16]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n9));
    defparam counter_17__i17.REGSET = "RESET";
    defparam counter_17__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i16 (.D(n105[15]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n10));
    defparam counter_17__i16.REGSET = "RESET";
    defparam counter_17__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i15 (.D(n105[14]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n11));
    defparam counter_17__i15.REGSET = "RESET";
    defparam counter_17__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i14 (.D(n105[13]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n12));
    defparam counter_17__i14.REGSET = "RESET";
    defparam counter_17__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i13 (.D(n105[12]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n13));
    defparam counter_17__i13.REGSET = "RESET";
    defparam counter_17__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i12 (.D(n105[11]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n14));
    defparam counter_17__i12.REGSET = "RESET";
    defparam counter_17__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i11 (.D(n105[10]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n15));
    defparam counter_17__i11.REGSET = "RESET";
    defparam counter_17__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i10 (.D(n105[9]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n16));
    defparam counter_17__i10.REGSET = "RESET";
    defparam counter_17__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i9 (.D(n105[8]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n17));
    defparam counter_17__i9.REGSET = "RESET";
    defparam counter_17__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i8 (.D(n105[7]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n18));
    defparam counter_17__i8.REGSET = "RESET";
    defparam counter_17__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i7 (.D(n105[6]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n19));
    defparam counter_17__i7.REGSET = "RESET";
    defparam counter_17__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i6 (.D(n105[5]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n20));
    defparam counter_17__i6.REGSET = "RESET";
    defparam counter_17__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i5 (.D(n105[4]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n21));
    defparam counter_17__i5.REGSET = "RESET";
    defparam counter_17__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i4 (.D(n105[3]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n22));
    defparam counter_17__i4.REGSET = "RESET";
    defparam counter_17__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i3 (.D(n105[2]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(n23));
    defparam counter_17__i3.REGSET = "RESET";
    defparam counter_17__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[30],29[44])" *) FD1P3XZ counter_17__i25 (.D(n105[24]), 
            .SP(VCC_net), .CK(clk), .SR(n222), .Q(led0_p42_c_24));
    defparam counter_17__i25.REGSET = "RESET";
    defparam counter_17__i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_13 (.A0(GND_net), .B0(GND_net), 
            .C0(n12), .D0(n259), .CI0(n259), .A1(GND_net), .B1(GND_net), 
            .C1(n11), .D1(n621), .CI1(n621), .CO0(n621), .CO1(n261), 
            .S0(n105[13]), .S1(n105[14]));
    defparam add_75_13.INIT0 = "0xc33c";
    defparam add_75_13.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_23 (.A0(GND_net), .B0(GND_net), 
            .C0(n2), .D0(n269), .CI0(n269), .A1(GND_net), .B1(GND_net), 
            .C1(led0_p42_c_24), .D1(n636), .CI1(n636), .CO0(n636), .S0(n105[23]), 
            .S1(n105[24]));
    defparam add_75_23.INIT0 = "0xc33c";
    defparam add_75_23.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_21 (.A0(GND_net), .B0(GND_net), 
            .C0(n4), .D0(n267), .CI0(n267), .A1(GND_net), .B1(GND_net), 
            .C1(n3), .D1(n633), .CI1(n633), .CO0(n633), .CO1(n269), 
            .S0(n105[21]), .S1(n105[22]));
    defparam add_75_21.INIT0 = "0xc33c";
    defparam add_75_21.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_19 (.A0(GND_net), .B0(GND_net), 
            .C0(n6), .D0(n265), .CI0(n265), .A1(GND_net), .B1(GND_net), 
            .C1(n5), .D1(n630), .CI1(n630), .CO0(n630), .CO1(n267), 
            .S0(n105[19]), .S1(n105[20]));
    defparam add_75_19.INIT0 = "0xc33c";
    defparam add_75_19.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_17 (.A0(GND_net), .B0(GND_net), 
            .C0(n8), .D0(n263), .CI0(n263), .A1(GND_net), .B1(GND_net), 
            .C1(n7), .D1(n627), .CI1(n627), .CO0(n627), .CO1(n265), 
            .S0(n105[17]), .S1(n105[18]));
    defparam add_75_17.INIT0 = "0xc33c";
    defparam add_75_17.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_11 (.A0(GND_net), .B0(GND_net), 
            .C0(n14), .D0(n257), .CI0(n257), .A1(GND_net), .B1(GND_net), 
            .C1(n13), .D1(n618), .CI1(n618), .CO0(n618), .CO1(n259), 
            .S0(n105[11]), .S1(n105[12]));
    defparam add_75_11.INIT0 = "0xc33c";
    defparam add_75_11.INIT1 = "0xc33c";
    (* lineinfo="@0(6[19],6[28])" *) IB reset_p34_pad (.I(reset_p34), .O(reset_p34_c));
    (* lineinfo="@0(5[37],5[38])" *) IB \s_pad[0]  (.I(s[0]), .O(s_c_0));
    (* lineinfo="@0(5[37],5[38])" *) IB \s_pad[1]  (.I(s[1]), .O(s_c_1));
    (* lineinfo="@0(5[37],5[38])" *) IB \s_pad[2]  (.I(s[2]), .O(s_c_2));
    (* lineinfo="@0(5[37],5[38])" *) IB \s_pad[3]  (.I(s[3]), .O(s_c_3));
    (* lineinfo="@0(11[25],11[28])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(11[25],11[28])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(11[25],11[28])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(11[25],11[28])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(11[25],11[28])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(11[25],11[28])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(11[25],11[28])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@0(10[19],10[27])" *) OB led2_p28_pad (.I(led2_p28_c), .O(led2_p28));
    (* lineinfo="@0(9[19],9[27])" *) OB led1_p38_pad (.I(led1_p38_c), .O(led1_p38));
    (* lineinfo="@0(8[19],8[27])" *) OB led0_p42_pad (.I(led0_p42_c_24), .O(led0_p42));
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_9 (.A0(GND_net), .B0(GND_net), 
            .C0(n16), .D0(n255), .CI0(n255), .A1(GND_net), .B1(GND_net), 
            .C1(n15), .D1(n615), .CI1(n615), .CO0(n615), .CO1(n257), 
            .S0(n105[9]), .S1(n105[10]));
    defparam add_75_9.INIT0 = "0xc33c";
    defparam add_75_9.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_7 (.A0(GND_net), .B0(GND_net), 
            .C0(n18), .D0(n253), .CI0(n253), .A1(GND_net), .B1(GND_net), 
            .C1(n17), .D1(n612), .CI1(n612), .CO0(n612), .CO1(n255), 
            .S0(n105[7]), .S1(n105[8]));
    defparam add_75_7.INIT0 = "0xc33c";
    defparam add_75_7.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_5 (.A0(GND_net), .B0(GND_net), 
            .C0(n20), .D0(n251), .CI0(n251), .A1(GND_net), .B1(GND_net), 
            .C1(n19), .D1(n609), .CI1(n609), .CO0(n609), .CO1(n253), 
            .S0(n105[5]), .S1(n105[6]));
    defparam add_75_5.INIT0 = "0xc33c";
    defparam add_75_5.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_3 (.A0(GND_net), .B0(GND_net), 
            .C0(n22), .D0(n249), .CI0(n249), .A1(GND_net), .B1(GND_net), 
            .C1(n21), .D1(n606), .CI1(n606), .CO0(n606), .CO1(n251), 
            .S0(n105[3]), .S1(n105[4]));
    defparam add_75_3.INIT0 = "0xc33c";
    defparam add_75_3.INIT1 = "0xc33c";
    (* lineinfo="@0(29[30],29[44])" *) FA2 add_75_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(VCC_net), .C1(n23), .D1(n603), 
            .CI1(n603), .CO0(n603), .CO1(n249), .S1(n105[2]));
    defparam add_75_1.INIT0 = "0xc33c";
    defparam add_75_1.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(34[20],34[31])" *) LUT4 s_c_0_I_0_2_lut (.A(s_c_0), 
            .B(s_c_1), .Z(led1_p38_c));
    defparam s_c_0_I_0_2_lut.INIT = "0x6666";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B))", lineinfo="@0(35[20],35[32])" *) LUT4 s_c_2_I_0_2_lut (.A(s_c_2), 
            .B(s_c_3), .Z(led2_p28_c));
    defparam s_c_2_I_0_2_lut.INIT = "0x8888";
    
endmodule

//
// Verilog Description of module seven_seg_display
//

module seven_seg_display (input s_c_0, input s_c_2, input s_c_3, input s_c_1, 
            output seg_c_4, output seg_c_0, output seg_c_1, output seg_c_2, 
            output seg_c_3, output seg_c_5, output seg_c_6);
    
    
    (* lut_function="(A+(B (C+!(D))+!B (C (D))))", lineinfo="@1(7[3],19[10])" *) LUT4 i102_4_lut (.A(s_c_0), 
            .B(s_c_2), .C(s_c_3), .D(s_c_1), .Z(seg_c_4));
    defparam i102_4_lut.INIT = "0xfaee";
    (* lut_function="(A (B (C)+!B (C+!(D)))+!A (B (C)+!B !(C+!(D))))", lineinfo="@1(7[3],19[10])" *) LUT4 s_c_3_I_0_4_lut (.A(s_c_2), 
            .B(s_c_1), .C(s_c_3), .D(s_c_0), .Z(seg_c_0));
    defparam s_c_3_I_0_4_lut.INIT = "0xe1e2";
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A (B (C+(D))+!B (C (D))))", lineinfo="@1(7[3],19[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_2), .D(s_c_1), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0xdce0";
    (* lut_function="(A (B (C)+!B (C (D)))+!A (B (C)+!B (D)))", lineinfo="@1(7[3],19[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s_c_0), 
            .B(s_c_2), .C(s_c_3), .D(s_c_1), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xf1c0";
    (* lut_function="(A (B+(C (D)))+!A (B (C)+!B !(C (D)+!C !(D))))", lineinfo="@1(7[3],19[10])" *) LUT4 seg_c_3_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_2), .D(s_c_0), .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut.INIT = "0xe9d8";
    (* lut_function="(A (B (C+(D))+!B ((D)+!C))+!A (B (C+(D))+!B !(C+!(D))))", lineinfo="@1(7[3],19[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(s_c_0), 
            .B(s_c_3), .C(s_c_2), .D(s_c_1), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0xefc2";
    (* lut_function="(A (B+(C (D)))+!A (B (D)+!B !(D)))", lineinfo="@1(7[3],19[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s_c_1), 
            .B(s_c_3), .C(s_c_0), .D(s_c_2), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0xec99";
    
endmodule
